#stylists.ds_wrapper.barbers_section
  .container
    .row
      .block_heading
        .title_text
          ВСТРЕЧАЙТЕ НАШИХ ПРОФЕССИОНАЛОВ
        .title_block
          %h2
            НАШИ МАСТЕРА И СТИЛИСТЫ
          .titleborderOut
            .titleborder
      .divider
      / team_all
      -if @team.blank?
        -@team.each do |team_member|
          .col-sm-3.col-lg-3
            .team_first
              .team_image
                -unless team_member.picture.url(:thumb_186).nil?
                  =image_tag team_member.picture.thumb_186.url, class: "img-responsive circle"
                -else
                  Нет картинки
                .title
                  %span
                    =team_member.name.mb_chars.upcase
                .ds_role
                  =team_member.category.name
                .ds_description
                  %p
                    =team_member.description
                    
                  Email:
                  %a{:href => "mailto:james@barber.com"}
                    james@barber.com
                .ds_social
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                  %a{:href => "#"}
                    %i.fa.fa-instagram
                  %a{:href => "#"}
                    %i.fa.fa-dribbble
      -else
        Нет настроек команды
