=render partial: 'front/navigation/breadcrumbs', locals: { title: @important_page.title }

/ category slider section end
.ds_wrapper.bg_white.portfolio_slider_sec
	.container
		.full_width.content
			%p
				=@important_page.body