/ slider_part
.ds_wrapper.wrapper_slider
  / SLIDER
  .example
    %article.content.full_width
      #rev_slider_116_1_wrapper.rev_slider_wrapper.fullwidthbanner-container{"data-alias" => "layer-animations", :style => "margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"}
        / START REVOLUTION SLIDER 5.0.7 auto mode
        #rev_slider_116_1.rev_slider.fullwidthabanner{"data-version" => "5.0.7", :style => "display:none;"}
          %ul
            / slide
            %li{"data-description" => "", "data-easein" => "default", "data-easeout" => "default", "data-index" => "rs-397", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-title" => "Slide Mask", "data-transition" => "parallaxhorizontal"}
              / MAIN IMAGE
              / =image_tag "static_images/olivia-wilde-wp-1.jpg", class: 'rev-slidebg', alt: 'AS Studio - Студия Снежаны Черновой', data: {bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat"} do
              %img.rev-slidebg{:alt => "slide3", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => "assets/static_images/olivia-wilde-wp-2.jpg"}
                / LAYER NR. 1
                .main_layer{:style => "text-align:center;"}
                  %h3#slide-397-layer-1.tp-caption.NotGeneric-Title.playfont.tp-resizeme{"data-height" => "['auto','auto','auto','auto']", "data-hoffset" => "", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;", "data-voffset" => "-110", "data-width" => "['auto','auto','auto','auto']", "data-x" => "140", "data-y" => "center", :style => "z-index: 8; white-space: nowrap; font-size:60px; line-height: 70px;"}
                    check out
                  / LAYER NR. 2
                  %h3#slide-397-layer-2.tp-caption.NotGeneric-Title.playfontbold.tp-resizeme{"data-height" => "['auto','auto','auto','auto']", "data-hoffset" => "", "data-mask_in" => "x:0px;y:[100%];s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1200", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;", "data-transform_out" => "s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;", "data-voffset" => "-12", "data-width" => "['auto','auto','auto','auto']", "data-x" => "140", "data-y" => "center", :style => "z-index: 5; white-space: nowrap;  line-height: 50px; margin:10px 0px;  padding-bottom:10px;  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); border-bottom: 3px solid #538167 ; border-top: 3px solid #538167 ;"}
                    самые лучшие
                  / LAYER NR. 3
                  %h4#slide-397-layer-3.tp-caption.NotGeneric-Title.beard_s.tp-resizeme{"data-height" => "['auto','auto','auto','auto']", "data-hoffset" => "", "data-mask_in" => "x:0px;y:[100%];s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1200", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;", "data-transform_out" => "s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;", "data-voffset" => "100", "data-width" => "['auto','auto','auto','auto']", "data-x" => "140", "data-y" => "center", :style => "z-index: 5; white-space: nowrap; font-size:104px; font-weight:500 min-width:450px"}
                    РЕСНИЦЫ
                  / LAYER NR. 4
                  #slide-397-layer-4.tp-caption.BigBold-Button.rev-btn.slider-anchor{"data-actions" => "[{\"event\":\"click\",\"action\":\"jumptoslide\",\"slide\":\"next\",\"delay\":\"\"}]", "data-height" => "['auto']", "data-hoffset" => "", "data-responsive" => "off", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "2000", "data-style_hover" => "c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;", "data-transform_hover" => "o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;", "data-transform_out" => "s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;", "data-voffset" => "80", "data-width" => "['auto']", "data-x" => "140", "data-y" => "bottom", :style => "z-index: 9; white-space: nowrap; border:none; padding-left:0px;"}
                    %div
                      %a.slide_anchor.anchor_d{:href => "booking.html", :style => "padding:15px 40px; font-size:12px;"}
                        BOOK AN APPOINTMENT
              / slide
              / SLIDE
              %li{"data-description" => "", "data-easein" => "default", "data-easeout" => "default", "data-index" => "rs-398", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-title" => "Smooth Mask", "data-transition" => "parallaxhorizontal"}
                / MAIN IMAGE
                %img.rev-slidebg{:alt => "slide2", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => "assets/static_images/lash-wp-1.jpg"}
                  / LAYERS
                  / LAYER NR. 1
                  #slide-398-layer-1.tp-caption.NotGeneric-Title.tp-resizeme{"data-height" => "['auto','auto','auto','auto']", "data-hoffset" => "", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "2000", "data-transform_idle" => "o:1;", "data-transform_in" => "x:50px;opacity:0;s:1000;e:Power3.easeOut;", "data-transform_out" => "s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;", "data-voffset" => "-90", "data-width" => "['auto','auto','auto','auto']", "data-x" => "700", "data-y" => "center", :style => "z-index: 8; white-space: nowrap; font-size: 30px; line-height: 30px;"}
                    .background_box
                      %h2{:style => "font-size:48px; font-weight:800;"}
                        ЛУЧШИЕ
                      %h2.goto_real{:style => "font-size:72px; font-weight:900;"}
                        РЕСНИЦЫ
                      %h2{:style => "font-size:48px; font-weight:800; margin-bottom:25px;"}
                        ДЛЯ ВАС
                      %a.slide_anchor{:href => "booking.html", :style => "padding: 15px 40px;"}
                        BOOK AN APPOINTMENT
                / SLIDE
                %li{"data-description" => "", "data-easein" => "default", "data-easeout" => "default", "data-index" => "rs-399", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-title" => "Smooth Mask", "data-transition" => "parallaxhorizontal"}
                  / MAIN IMAGE
                  %img.rev-slidebg{:alt => "slide4", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => "assets/static_images/lash-wp-2.jpg"}
                    / LAYERS
                    / LAYER NR. 1
                    / layer-2
                    #slide-399-layer-1.tp-caption.BigBold-Button.rev-btn{"data-actions" => "[{\"event\":\"click\",\"action\":\"jumptoslide\",\"slide\":\"next\",\"delay\":\"\"}]", "data-height" => "['auto']", "data-hoffset" => "", "data-responsive" => "off", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "2000", "data-style_hover" => "cursor:pointer;", "data-transform_hover" => "o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;", "data-transform_out" => "s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;", "data-voffset" => "40", "data-width" => "['auto']", "data-x" => "140", "data-y" => "center", :style => "z-index: 5;  visibility: visible; opacity: 0; border:none;  transform: matrix(-1, 1, -1, 0, 2, 1);  "}
                      .col-sm-3.col-lg-3.col-md-3.slide_img
                        %img.img-responsive{:alt => "two in one", :src => "images/twoinone.png"}
                    / SLIDE
                    / SLIDE
                    %li{"data-description" => "", "data-easein" => "default", "data-easeout" => "default", "data-fsmasterspeed" => "1500", "data-fsslotamount" => "7", "data-index" => "rs-400", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-title" => "Letters Fly In", "data-transition" => "parallaxhorizontal"}
                      / MAIN IMAGE
                      %img.rev-slidebg{:alt => "slide1", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => "http://placehold.it/1920x800"}
                        / LAYERS
                        / LAYER NR. 1
                        / LAYER NR. 2
                      / SLIDE
                    .tp-bannertimer{:style => "height: 7px; background-color: rgba(255, 255, 255, 0.25);"}
                / END REVOLUTION SLIDER
            / section end
            / SLIDER
          / slider_part end

/ gallery section start
=render 'front/static_pages/popular_services'
/ gallery section end

=render 'front/static_pages/opening_hours'

=render 'front/static_pages/services_and_about'



/ discouont coupon section start
.ds_wrapper.section_coupon
  .container
    .row
      .col-lg-12.col-sm-12.col-md-12
        .infotextwrap
          .infotext
            %h2
              КУПОН ДЛЯ СКИДКИ -20%:
              %b
                СНЕЖОК
    / testimonials start
.ds_wrapper.boxes_coupon
  .container
    .row
      / testimonial_box start
      .col-sm-6.col-lg-6.col-md-6
        .box_first
          .avtar_img.col-sm-4.col-lg-3.col-xs-3
            %img.img-responsive{:alt => "", :src => "http://placehold.it/114x114"}
          .col-lg-9.col-sm-8.pad0
            .testimonial_team
              %i.fa.fa-quote-right>
              Barber Saloon is a
              %b
                breath of fresh air
              to the industry. It is bright, modern, stylish and a wonderful environment in which to have a treatment.
              %i.fa.fa-quote-right.last
            .testimonial_author
              John Doe, Happy Customer
        / testimonial_box end
      / testimonial_box start
      .col-sm-6.col-lg-6.col-md-6
        .box_first
          .avtar_img.col-sm-4.col-lg-3.col-xs-3
            %img.img-responsive{:alt => "", :src => "http://placehold.it/114x114"}
          .col-lg-9.col-sm-8.pad0
            .testimonial_team
              %i.fa.fa-quote-right>
              Top-notch service. I couldn't have been more pleased. I always leave with a
              %b
                big smile
              on my face and much more relaxed than when I arrived.
              %i.fa.fa-quote-right.last
            .testimonial_author
              John Mustachio, Satisfied Customer
        / testimonial_box end
        / testimonial_box start
      .col-sm-6.col-lg-6.col-md-6
        .box_first
          .avtar_img.col-sm-4.col-lg-3.col-xs-3
            %img.img-responsive{:alt => "", :src => "http://placehold.it/114x114"}
          .col-lg-9.col-sm-8.pad0
            .testimonial_team
              %i.fa.fa-quote-right>
                Top-notch service. I couldn't have been more pleased. I always leave with a
              %b
                big smile
                on my face and much more relaxed than when I arrived.
              %i.fa.fa-quote-right.last
            .testimonial_author
              Some Customer
      / testimonial_box end
      / testimonial_box start
      .col-sm-6.col-lg-6.col-md-6
        .box_first
          .avtar_img.col-sm-4.col-lg-3.col-xs-3
            %img.img-responsive{:alt => "", :src => "http://placehold.it/114x114"}
          .col-lg-9.col-sm-8.pad0
            .testimonial_team
              %i.fa.fa-quote-right>
              Barber Saloon is a
              %b
                breath of fresh air
              to the industry. It is bright, modern, stylish and a wonderful environment in which to have a treatment.
              %i.fa.fa-quote-right.last
            .testimonial_author
              James Dean
      / testimonial_box end
      / discouont coupon section end
/ call section start
.ds_wrapper.calling_section
  .container
    .center_image
      =image_tag 'static_images/twoinone.png'
      
  / call section end
  / logo crousel section start
.ds_wrapper.crousel_section
  .container
    .logo_crousel
      %ul.bxslider
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
        %li
          %img{:alt => "advertise-img", :src => "images/crousel/advertise-img.png"}/
  / logo crousel section end
  / barbers section start

=render 'front/static_pages/our_team'
