/ category slier section start
.ds_wrapper.portfolio_heading_section
  .container
    .row
      / heading
      .col-lg-12.col-md-12.col-sm-12
        .pagecontent
          .ds_pagecontentContent_title
            %h1
              =title
          .ds_pagecontentContent_breadcrumb
            %p
              =link_to "Главная", root_path
              »
              %span
                =title
                
        / heading