/ footer start
%footer
  .ds_wrapper.footer_section
    .container
      .row
        / buy now
        .col-sm-3.col-lg-3
          %h4.widget-title
            buy now
          .textwidget
            %p
              If you come all the way down here, you probably like our
              %b
                Barber
              theme. To help you find where you can buy it, we prepared a solution for that also. Simply click the button below.
          .footer_button
            %a{:href => "#", :target => "_blank"}
              BUY NOW
        / buy now end
        / instagram
        .col-sm-3.col-lg-3
          %h4.widget-title
            TAGGED #BEARDBRAND ON INSTAGRAM
          .photo_tiles
            %ul
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
        / instagram end
        / about us
        .col-sm-3.col-lg-3
          %h4.widget-title
            about us
          .textwidget
            %p
              Barber Saloon is a vintage design barber that focuses on your beard's best experience.
            %ul.contact
              %li
                %i.fa.fa-phone>
                (+386) 40 123 456
              %li
                %i.fa.fa-envelope>
                info@barber.com
              %li
                %i.fa.fa-home>
                www.barber.com
        / about us end
        / opening time
        .col-sm-3.col-lg-3
          %h4.widget-title
            OPENING TIMES
          .textwidget
            %ul.opening_times
              %li
                %span.day
                  Monday
                %span.time
                  08:00 - 15:00
              %li
                %span.day
                  Tuesday
                %span.time
                  10:00 - 16:00
              %li
                %span.day
                  Wednesday
                %span.time
                  08:00 - 15:00
              %li
                %span.day
                  Thursday
                %span.time
                  08:00 - 18:00
              %li
                %span.day
                  Friday
                %span.time
                  07:00 - 19:00
              %li
                %span.day
                  Saturday
                %span.time
                  Closed
              %li
                %span.day
                  Sunday
                %span.time
                  closed
        / opening time end
/ footer end
/ copyright_footer
.ds_wrapper.copyright_footer
  .container
    .row
      .copyright_area
        %p
          trim your beard at
          %img{:alt => "", :src => "images/footer_icon.png"}/
          the barber saloon
        #copyright
          The Barber Saloon @2015 by
          %a{:href => "http://himanshusofttech.com/"}
            Himanshusofttech
/ copyright_footer
/ bottom tab
.bottom_tab
  .suppert_tab
    %h3.book_now
      BOOK NOW
      %i.fa.fa-chevron-up
