/ footer start
%footer
  .ds_wrapper.footer_section
    .container
      .row
        / buy now
        .col-sm-3.col-lg-3
          %h4.widget-title
            ="запишитесь сегодня".mb_chars.upcase
          .textwidget
            %p
              If you come all the way down here, you probably like our
              %b
                Barber
              theme. To help you find where you can buy it, we prepared a solution for that also. Simply click the button below.
          .footer_button
            %a{:href => "#", :target => "_blank"}
              BUY NOW
        / buy now end
        / instagram
        .col-sm-3.col-lg-3
          %h4.widget-title
            НАШ ТЭГ #БОРОДАИЗВАТЫ В ИНСТАГРАМЕ
          .photo_tiles
            %ul
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "http://placehold.it/84x84"}/
        / instagram end
        / about us
        .col-sm-3.col-lg-3
          %h4.widget-title
            О студии
          .textwidget
            %p
              =@general_settings.upper_text
              
            %ul.contact
              %li
                %i.fa.fa-phone>
                =@general_settings.phone
              %li
                %i.fa.fa-envelope>
                =@general_settings.email
              %li
                %i.fa.fa-home>
                www.as-studio-lash.ru
        / about us end
        / opening time
        .col-sm-3.col-lg-3
          %h4.widget-title
            РАБОЧИЕ ЧАСЫ
          .textwidget
            %ul.opening_times
              %li
                %span.day
                  Понедельник
                %span.time
                  =@general_settings.monday
              %li
                %span.day
                  Вторник
                %span.time
                  =@general_settings.thuesday
              %li
                %span.day
                  Среда
                %span.time
                  =@general_settings.wednesday
              %li
                %span.day
                  Четверг
                %span.time
                  =@general_settings.thursday
              %li
                %span.day
                  Пятница
                %span.time
                  =@general_settings.friday
              %li
                %span.day
                  Суббота
                %span.time
                  =@general_settings.saturday
              %li
                %span.day
                  Воскресенье
                %span.time
                  =@general_settings.sunday
        / opening time end
/ footer end
/ copyright_footer
.ds_wrapper.copyright_footer
  .container
    .row
      .copyright_area
        %p
          ваша красота в салоне
          %img{:alt => "", :src => "images/footer_icon.png"}/
          As-studio
        #copyright
          Студия Снежаны Черновой @2016 by
          =link_to "http://blog.handsomecake.com" do
            Handsomecake

/ copyright_footer
/ bottom tab
.bottom_tab
  .suppert_tab
    %h3.book_now
      BOOK NOW
      %i.fa.fa-chevron-up
