%header.header_main.header_home
  .ds_wrapper.wrapper_top
    .container
      .row
        %span.toogle_span
          Контактная информация
        .notification_bar
          .col-sm-9.col-lg-9.padd_l
            .ds_top_notification
              .br_notification_content
                %i.fa.fa-mobile
                .notification_text
                  ="Позвоните нам для записи - #{@general_settings.phone}"
                / 1103cf
              .br_notification_content
                %i.fa.fa-map-marker
                .notification_text
                  =@general_settings.address
              .br_notification_content
                %i.fa.fa-send
                .notification_text
                  =link_to "mailto:#{@general_settings.email}" do
                    =@general_settings.email
          .col-sm-3.col-lg-3.padd_r
            .ds_social_notification
              =link_to @general_settings.vk do
                %i.fa.fa-vk
              =link_to @general_settings.fb do
                %i.fa.fa-facebook-official
              =link_to @general_settings.instagram do
                %i.fa.fa-instagram
  / header top section
  / header menu section start
  .ds_wrapper.wrapper_nav
    .container
      .row
        / navbar toggle start
        .navbar-header.pull-right
          %button.navbar_toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-list-ul
        / navbar toggle end
        .col-sm-2.col-lg-2.col-md-2.col-xs-5
          .ds_logo_left
            =link_to root_path do
              =image_tag 'static_images/logo_small_90.png'
        .col-sm-12.col-lg-8.col-md-8.col-xs-12.ds_navigation_menu
          / navbar_collapse
          .navbar_collapse
            %nav
              %ul.menu
                %li.current_page_item
                  =link_to 'Главная', root_path 
                %li
                  =link_to 'Стилисты', '#'
                %li
                  =link_to 'Услуги', '#'
                  %ul.sub-menu
                    %li
                      =link_to "Примеры работ", "#"
                    %li
                      =link_to "Наши цены", "#"
                %li
                  =link_to 'Контакты', '#'
                %li
                  =link_to 'О салоне', '#'
                  %ul.sub-menu
                    %li
                      =link_to 'События', '#'
                    %li
                      =link_to 'Обучение', '#'
                    %li
                      =link_to 'Сертификаты', '#'

          / navbar_collapse
        #appointment_btn.pull-right.hidden-xs
          .appointment_btn
            %a{:href => "booking.html"}
              Записаться к мастеру
  / header menu section end
/ header menu section end
